*.pkg.tar*
*.tar
*.pdf
*.maff
*.log
*.cpp
*.h
*.c
*.cpp
*.cpp#
*.py
*.pid
*.txt
*.elc
*~

.lmmsrc.xml
.packages/iridium/
.packages/redeclipse/
css/
y

.adobe/
.android/
.aspell.en.prepl
.aspell.en.pws
.audacity-data/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.ccache/
.config/Clementine/
.config/vmpk.sourceforge.net/
.config/QtProject.conf
.config/SpeedCrunch/
.config/Thunar/
.config/Trolltech.conf
.config/calibre/
.config/chromium/
.config/dconf/
.config/enchant/
.config/fish/fish_history
.config/fish/fishd.shankar
.config/fish/functions/
.config/freshwrapper-data/
.config/geany/
.config/google-googletalkplugin/
.config/htop/
.config/mediafire-tools/
.config/menus/
.config/nvim/.netrwhist
.config/pavucontrol.ini
.config/plowshare/
.config/pulse/
.config/qalculate/
.config/ranger/
.config/scdl/
.config/sway/
.config/transmission-daemon/
.config/transmission/
.config/vcsh/
.config/xfce4/
.config/aurvote
.config/iridium/
.config/inox/
.config/mirage/
.config/inkscape/
.config/BW Games
.config/chessx
.config/conky
.config/conkywx
.config/drumstick.sourceforge.net
.config/icedtea-web
.config/lenmus
.config/nerd_fonts
.config/terminator
.config/conky-manager.json
.config/designer
.config/gconf
.config/gtk-3.0

.conkyForecast.config
.solfegerc
.proselint
.fonts
.forecastrc
.jupyter
.inkscape
.nv
.orgbrand
.packages/conky-colors-git
.moonchild productions
.conky
.eclipse
.buildozer
.brainworkshop
.AndroidStudio2.2
.redeclipse/
.dbus/
.drip/
.gradle
.godot
.orgbrand
.wine
.wunderground
.packages/emacs*
.esd_auth
.extcalc/
.fehbg
.gimp-2.8/
.gitconfig
.gnome/
.gnupg/
.gstreamer-0.10/
.icons/
.idlerc/
.imgur-screenshot.log
.ipython/
.irssi/
.ivy2/
.java/
.lesshst
.lldb/
.local/
.macromedia/
.mozilla/
.m2/
.nimble/
.packages/st/
.pki/
.purple/
.python_history
.sbt/
.scala_history
.scid/
.scid4.6/
.scidb-beta/
.ssh/
.subversion/
.thumbnails/
.toggletouchpad.sh
.vim_mru_files
.vimperator/
.xsel.log
.xsession-errors
Desktop/
Documents/
Downloads/
Pictures/
backup/
TWRP/
convert.sh
yankring_history_v2.txt
.Xauthority

.config/weechat/alias.conf
.config/weechat/aspell.conf
.config/weechat/buffers.conf
.config/weechat/charset.conf
.config/weechat/exec.conf
.config/weechat/guile/
.config/weechat/ircrypt.conf
.config/weechat/iset.conf
.config/weechat/logger.conf
.config/weechat/logs/
.config/weechat/perl/
.config/weechat/python/
.config/weechat/relay.conf
.config/weechat/script.conf
.config/weechat/script/
.config/weechat/sec.conf
.config/weechat/trigger.conf
.config/weechat/urlserver_list.txt
.config/weechat.config/weechat.log
.config/weechat/xfer.conf
nq*
.config/kcachegrind.sf.net

.emacs.d/irony/
.emacs.d/elpa
.light
.kivy
.swt
.wget-hsts
.ordbrand
