[Desktop Entry]
Version=1.0
Name=scidb-beta
Comment=A Free Chess Database Application
Exec=scidb-beta %F
MimeType=application/x-chess-pgn
Icon=/usr/share/scidb-beta/scid.ico
Categories=Game;BoardGame;
Type=Application
Terminal=false
StartupNotify=false
